@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
a, p, h1, h2, h3 {
    color: white;
}
a {
    border-bottom: 1px dotted white;
    &:hover {
        border: none;
    }
}
h1 {
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}
h2 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
p {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}